<div class="card-columns m-5">
  <div class="card" *ngFor="let card of data" style="width: 18rem">
    <img
      class="card-img-top"
      [src]="card.images | noimage"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{ card.name }}</h5>
      <p class="card-text" *ngIf="card.artists">
        <span *ngFor="let artist of card.artists" class="badge badge-primary">{{
          artist.name
        }}</span>
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
