<div class="row mt-4">
  <div class="col">
    <input
      #termino
      type="text"
      (keyup)="search(termino.value)"
      name=""
      id=""
      class="form-control"
      placeholder="buscar artista"
    />
  </div>
</div>

<div  class="card-columns mt-4">
  <div class="card" *ngFor="let artist of artists" style="width: 18rem">
    <img *ngIf="artist['images'].length"
      class="card-img-top"
      [src]="artist.images[0].url"
      alt="Card image cap"
    />
    <img *ngIf="!artist['images'].length"
      class="card-img-top"
      src="assets/img/noavatar.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{ artist.name }}</h5>
      <!-- <p class="card-text">
          <span *ngFor="let artist of song.artists"  class="badge badge-primary">{{artist.name}}</span>
        </p> -->
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
